/* ==UserStyle==
@name			cnblogs.com
@author			Bian Wenbo
@version		1.0.6
@namespace		bianwenbo
@preprocessor	default
==/UserStyle== */

@-moz-document domain("cnblogs.com")
{
	#sideBar,
	#ad_text_under_commentbox,
	#ad_t2,
	#footer,
	#blog_post_info,
	#comment_form,
	#header {
		display: none !important;
	}
	
	#mainContent {
		margin: auto !important;
		float: none !important;
	}
	
	#home {
		width: auto !important;
	}
	
	.forFlow {
		margin-left: auto !important;
		margin-right: auto !important;
		width: 730px !important;
	}
	
	/* Fixed the out of bounder problem. */
	.post {
		width: 98%;
	}
	
	.feedbackCon {
		margin-right: 30px;
	}
}