/* ==UserStyle==
@name			csdn.net
@author			Bian Wenbo
@version		3.1.3
@namespace		bianwenbo
@preprocessor	default
==/UserStyle== */

@-moz-document domain("blog.csdn.net")
{
	/* 右侧工具栏 */
	aside>div:not(#asidedirectory) {
		display: none !important;
	}
	#asideCategory {
		visibility:hidden !important;
	}
	/* - 固定目录位置 */
	aside.blog_container_aside {
		position: sticky !important;
		width: 0px !important;
	}
	#asidedirectory {
		position: absolute;
		width: 300px;
		right: 50px;
	}
	
	/* 隐藏无用元素 */
	/* - 头部 */
	#csdn-toolbar,
	/* - 右侧边栏：工具栏 */
	.recommend-right, 
	.tool-box, 
	.csdn-side-toolbar>a:not(:last-child),
	/* - 推荐文章 */
	.recommend-box,
	/* - 底部 */
	.template-box,
	.blog-footer-bottom,
	/* - 登录QR二维码 */
	.login-mark, #passportbox,
	/* - 登录 */
	.passport-login-container,
	/* - 缩放提醒 */
	.leftPop,
	/* - 广告 */
	main>div[id*="ad"] {
		display: none !important;
	}
    /* - 左侧边栏：归档 */
    #asideArchive {
        position: absolute;
        top: -1000px;
    }
	
	/* 排版：内容居中 */
	.space_container~main {
		margin: auto;
		float: none;
	}
	.container#mainBox {
		margin: auto !important;
		width: auto !important;
	}
	
	/* 删除背景 */
	body {
		background: none !important;
		min-width: auto !important;
	}
	
	/* 取消底部工具栏的固定 */
	.left-toolbox {
		position: static !important;
	}
	ul.toolbox-list > li:nth-child(n+5),
	li#tool-share {
		display: none;
	}
}
