/* ==UserStyle==
@name			csdn.net
@author			Bian Wenbo
@version		2.1.5
@namespace		bianwenbo
@preprocessor	default
==/UserStyle== */

@-moz-document domain("blog.csdn.net")
{
	/* unknown NONE
	.pulllog-box,
	div[id*="kp_box"],
	#adContent,
	.meau-gotop-box,
	.jiathis_style,
	*/
	
	/* Hide useless elements. */
	/* saidbar left */
	aside,
	/* header */
	#csdn-toolbar,
	/* saidbar right: toolbox */
	.recommend-right, .tool-box, .csdn-side-toolbar,
	/* recommned articles */
	.recommend-box,
	/* footer */
	.template-box,
	/* login QR code */
	.login-mark, #passportbox,
	/* Remove ads */
	main>div[id*="ad"] {
		display: none !important;
	}
	
	/* layout: center content. */
	.space_container~main {
		margin: auto;
		float: none;
	}
	
	.container#mainBox {
		margin: auto !important;
		width: auto !important;
	}
	
	/* Remove background. */
	body {
		background: none !important;
		min-width: auto !important;
	}
}