/* ==UserStyle==
@name           blog.csdn.net Reading mode
@namespace      github.com/openstyles/stylus
@version        1.0.1
@description    blog.csdn.net Reading mode
@author         Bian Wenbo
==/UserStyle== */

@-moz-document domain("blog.csdn.net") {
    aside,
    .pulllog-box,
    div[id*="ad"],
    div[id*="kp_box"],
    #adContent,
    .recommend-box,
    #csdn-toolbar,
    .tool-box,
    .meau-gotop-box,
    .csdn-side-toolbar,
    .template-box,
    .jiathis_style,
    #passportbox, .login-mark
    {
        display: none !important;
    }

    .container main {
        margin: auto;
        float: none;
    }

    body {
        background: none !important;
        min-width: auto !important;
    }
}
