/* ==UserStyle==
@name           bbs.ichuanglan.com
@namespace      github.com/openstyles/stylus
@version        2.2.1
@description    A new userstyle
@author         BianWenbo
==/UserStyle== */
@-moz-document domain("bbs.ichuanglan.com") {
	/* 隐藏元素 */
	#floatTools,
	#ct > div:nth-child(3),
	#ft,
	#sitefocus,
	#focus,
	form[class="searchform"] + .tl div:nth-child(2),
	table#scform_form + div,
	.qq_bind,
	#scrolltop,
	.barrage {
		display: none;
	}
	/* 取消浮动 */
	#nv,
	.pls.favatar {
		position: static !important;
	}
	/* 优化视图 */
	/* - 减小头像 */
	.avatar,
	.avatar img,
	.pls p {
		max-width: 50px !important;
		max-height: 50px !important;
		margin: 0 auto !important;
		padding: 0 0 !important;
		text-align: center;
	}
	/* - 隐藏元素 */
	.tns.xg2,
	dl.pil.cl,
	ul.xl.xl2.o.cl,
	span.pbg2,
	td.plc.plm,
	table.plhin > tbody > tr:nth-child(n+2) {
		display: none;
	}
	/* - 隐藏虚线 */
	.pi,
	div[id^="post_rate_div_"] {
		border-bottom: none !important;
	}
	/* - 添加虚线分隔 */
	div[id^="post_"]:not(:nth-last-child(2)) {
		border-bottom: 2px dashed #e6e6e6;
	}
	/* - 兼容自动翻页 */
	div[id^="post_"]:nth-last-child(2) > table:not(:first-child):not(:last-child) > tbody > tr {
		border-bottom: 2px dashed #e6e6e6;
	}
	/* - 字体颜色 */
	.pti .authi > * {
		color: silver;
	}
	.pct {
		color: black;
	}
	/* - 视图宽度 */
	.wp {
		max-width: 800px;
		width: auto;
	}
	.scbar_narrow #scbar_txt {
		width: 100px;
	}
	#scbar_hot {
		max-width: 400px !important;
	}
	table.t_table {
		max-width: 600px;
		width: 600px;
		background-color: white;
	}
}
