/* ==UserStyle==
@name			quora.com
@author			Bian Wenbo
@version		1.0.2
@namespace		bianwenbo
@preprocessor	default
==/UserStyle== */

@-moz-document domain("www.quora.com")
{
	/* Sidebar: hide */
	#root>div>div>div:last-child>div>div>div:last-child {
		display: none;
	}
	
	#root>div>div>div:last-child>div>div>div:first-child {
		width: 70% !important;
		margin: auto;
	}
	
	/* Header: static */
	#root>div>div>div:nth-child(2) {
		position: static !important;
	}
	
	#root>div>div>div:first-child {
		display: none;
	}
	
	/* Remove ads */
	.spacing_log_question_page_ad {
		display: none;
	}
	/* Correct width for vertical screen. */
	#root>div>div>div:last-child>div>div {
		width: inherit !important;
		max-width: 1000px;
	}
}
