/* ==UserStyle==
@name			reddit.com
@author			Bian Wenbo
@version		2.0.0
@namespace		bianwenbo
@preprocessor	default
==/UserStyle== */

@-moz-document domain("reddit.com")
{
	/* Static: header */
	#SHORTCUT_FOCUSABLE_DIV>div:nth-child(2)>header {
		/* Hide header */
		/*display: none;*/
		position: static;
		width: 100%;
	}
	
	/* Hide: background */
	#SHORTCUT_FOCUSABLE_DIV>div:nth-child(4)>div:first-child>div:nth-child(1) {
		display: none;
	}
	
	/* Hide: fixed title */
	#SHORTCUT_FOCUSABLE_DIV>div:nth-child(4)>div:first-child>div:nth-child(2) {
		display: none;
	}
	
	/* Hide: More posts from the community */
	/* Note: The option display:none cause blank page on macOS Safari. */
	#SHORTCUT_FOCUSABLE_DIV>div:nth-child(4)>div:first-child>div:nth-child(3)>div:first-child>div:nth-child(3) {
		/*height: 1px;
		visibility: hidden;*/
		display: none;
	}
	
	/* Hide the white space */
	#SHORTCUT_FOCUSABLE_DIV>div:nth-child(4)>div:first-child {
		margin-top: 0;
	}
	
	#SHORTCUT_FOCUSABLE_DIV>div:nth-child(4)>div:first-child>div:nth-child(3) {
		margin: 0 auto;
	}
	
	#SHORTCUT_FOCUSABLE_DIV>div:nth-child(4)>div:first-child>div:nth-child(3)>div {
		padding-top: 0;
	}
	
	#SHORTCUT_FOCUSABLE_DIV>div:nth-child(4)>div:first-child>div:nth-child(3)>div:nth-child(2)>div:first-child>div:nth-child(2) {
		display: none;
	}
}
