/* ==UserStyle==
@name           smzdm.com Reading Mode
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Bian Wenbo
==/UserStyle== */

@-moz-document domain("post.smzdm.com") {
    #feed-side,
    #elevator,
    .qrcode,
    .zhong-contant,
    .article-card.J_trigger_ani,
    .fusion-card,
    #footer
    {
        display: none !important;
    }
    .left-wrap,
    .content-inner
    {
        width: auto !important;
    }
    .comment_conBox
    {
        width: auto !important;
        float: none !important;
    }
    #global-search
    {
        position: static !important;
    }
    .wrap
    {
        /*width: 50% !important;*/
        width: 1000px !important;
    }
}
