/* ==UserStyle==
@name           UltraSimple Mode - CSS - by Bian Wenbo
@namespace      github.com/bianwenbo/AppConfigurations
@version        0.0.1-alpha.20190708 
@description    Remove unnecessary elements.
@author         Bian Wenbo
==/UserStyle== */
@-moz-document domain("zhuanlan.zhihu.com") {
    .Sticky.is-fixed {
        display: none !important;
    }
}
@-moz-document domain("wrike.com") {
    .wspace-navigation-trial-info,
    .reports._nghost-gfw-46._ngcontent-gfw-14 {
        display: none;
    }
}
@-moz-document domain("worldjournal.com") {
    #sidebar,
    #hotnews-box,
    #recommendednews-box,
    #footer,
    #header,
    #popup-banner,
    #comment-box > div:first-child,
    .pagination,
    #comment-new-wrapper,
    .post-title {
        display: none !important;
    }

    .container-fluid,
    .content-holder.single-post {
        max-width: 100% !important;
    }

    .img-holder {
        max-width: 50%;
        margin: auto;
    }

    #content {
        max-width: 60%;
        margin: auto;
        left: 20%;
    }
}
@-moz-document domain("wired.co.uk") {
    .c-nav {
        display: none !important;
    }
}
@-moz-document domain("inoreader.com") {
    .leaderboard_ad,
    .ad_title.ad_title_centered,
    #sinner_container,
    #sb_rp_upgrade,
    #all_gad_57994,
    .inno_dialog_modal_overlay,
    .inno_dialog.inno_shadow_big.open_sans.inno_dialog_modal {
        display: none !important;
    }

    #reader_pane.reader_pane_sinner {
        padding-right: 0px;
    }

    .article_content {
        max-width: 800px !important;
    }

    /*
#subscriptions_buttons.sb_upgrade,
#sb_rp_gear,
#subscriptions_buttons.sb_upgrade,
#sb_rp_notifications,
#subscriptions_buttons.sb_upgrade,
#sb_rp_tools
{
	right: auto !important;
}
*/
}
@-moz-document domain("hbrchina.org") {
    body {
        background: default;
    }

    .mainl {
        border-right: none;
        width: 70% !important;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .article {
        width: 100% !important;
    }

    .mainr,
    .hd_ad,
    #top,
    #head_logo,
    .clearfix,
    #header,
    .footer,
    .ar_about,
    .cjartShare {
        display: none !important;
    }
}
@-moz-document domain("guxiaobei.com") {
    .speedbar,
    .sidebar,
    .open-message,
    .jp-relatedposts,
    .article-social,
    .article-nav,
    .related_top,
    #comment-ad,
    #donatecoffee,
    .container-inner {
        display: none !important;
    }

    .content {
        margin-right: auto !important;
    }

    #nav-header {
        position: static !important;
    }
}
@-moz-document domain("aeon.co") {
    .article__inline-sidebar,
    .header,
    .footer {
        display: none !important;
    }

    .article__body__content {
        max-width: 100%;
    }
}
@-moz-document domain("authorea.com") {
    #import-social-contacts-notification,
    .crisp-client {
        display: none !important;
    }
}
@-moz-document domain("blog.csdn.cn") {
    aside,
    .pulllog-box,
    div[id*="ad"],
    div[id*="kp_box"],
    #adContent,
    .recommend-box,
    #csdn-toolbar,
    /**.tool-box,**/
    .meau-gotop-box {
        display: none !important;
    }

    .container main {
        width: 100%;
    }

    body {
        background: none !important;
    }
}
@-moz-document domain("userstyles.org") {
    .adContainer,
    .fallbackDiv,
    .navigation,
    .flags,
    #wrapper-carousel,
    #ovals-wrapper,
    #installBox,
    #top_android_button,
    #footer,
    .android_button_banner,
    .android_button_button,
    .walking,
    .overlay_background {
        display: none !important;
    }

    #header {
        background-color: lightslategray;
        position: static;
    }
}
@-moz-document domain("www.xindaoyi.com") {
    .entry-content {
        color: #000000
    }
}