/* ==UserStyle==
@name           workflowy.com
@namespace      github.com/openstyles/stylus
@version        2.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("workflowy.com") {
    /* 下划线高亮 */
    u {
		text-decoration-line: none !important;
		background-color: yellow;
	}
    /* 取消超链接自动样式 */
    a.contentLink {
        pointer-events: none;
        text-decoration: none !important;
        color: inherit !important;
    }
}
