/* ==UserStyle==
@name           zhihu.com Reading mode
@namespace      github.com/openstyles/stylus
@version        1.1.0
@description    Zhihu and Zhuanlan.zhihu Reading mode.
@author         Bian Wenbo
==/UserStyle== */

@-moz-document domain("zhihu.com") {
    /* Block sideColumn */
    div.Question-sideColumn.Question-sideColumn--sticky,
    .ContentLayout-sideColumn,
    .GlobalSideBar,
    .Topstory,
    .Footer,
    header
    {
        display: none !important;
    }

    /* Adjust mainColumn */
    .Question-mainColumn
    {
        margin:auto;
    }
    .ContentLayout-mainColumn {
        width: 100%;
    }

    .ColumnPageHeader-Wrapper,
    .Sticky.ColumnPageHeader,
    /* .Sticky.RichContent-actions.is-fixed.is-bottom, */
    .Post-SideActions {
        position: static;
    }

    .Topstory-mainColumn {
        width: 1000px;
    }
    
    header
    {
        position: static !important;
    }
}
@-moz-document domain("zhuanlan.zhihu.com") {
    .Sticky.is-fixed
    {
        position: static !important;
    }
}
