/* ==UserStyle==
@name           zhihu.com Reading mode
@namespace      github.com/openstyles/stylus
@version        2.0.1
@description    Zhihu.com Reading mode.
@author         Bian Wenbo
==/UserStyle== */

@-moz-document domain("www.zhihu.com") {
/* Hide the Topstory section in home page. */
.Topstory {
    display: none;
}
/* Hide the useless elements. */
.CornerButtons {
    display: none;
}
/* Hide the side column. */
div.Question-sideColumn.Question-sideColumn--sticky { 
     display: none !important; 
}
/* Hide the footer. */
.Footer { 
     display: none !important; 
}
/* Center: Main content */
.ListShortcut {
    margin:0 auto;
}
/* Hide the Header */
header {
    /*position: static !important;*/
    display: none !important; 
}
header + div {
    display: none !important;
}
/* Minimize the answer action. */
.ContentItem-actions {
    padding: 0 0;
    left: auto !important;
    width: 654px !important; 
    margin: 0 0 !important;
}
/* Minize the question header. */
div[data-zop-question] {
    width: 694px;
    margin:0 auto;
}
.QuestionHeader-side {
    display: none;
}
.QuestionHeader {
    min-width: auto;
}
.QuestionHeader-content {
    width: auto;
}
/* Minimize the quesition action. */
.QuestionHeader-footer.is-fixed {
    height: auto;
    left: auto !important;
}
.QuestionHeader-footer-inner {
    padding: 0 0;
    width: auto;
}
.QuestionHeader-main.QuestionHeader-footer-main {
    padding-left: 5px;
}
}
